:root {
  --dark-purple: #2b2b2b;
  --light-purple: #57406c;
  --dark-blue: #1d1d1d;
  --white: #ffffff;
  --light-pink: #ed6a5a;
  --red: #f54b39;
  --font: 'Arial', sans-serif;
}

/* Add custom styles to make it more impressive */

body {
  background-color: var(--dark-purple);
  color: var(--white);
  font-family: var(--font);
  font-family: Arial, sans-serif;
  animation: glow 5s infinite alternate;
}
@keyframes glow {
  0% {
      filter: brightness(100%);
  }
  100% {
      filter: brightness(120%);
  }
}

header {
  background-color: var(--red);
}

#navbar li {
  padding-right: 20px;
  font-size: 18px;
  color: var(--white);
}

.nav-link {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

#welcome-section {
  background-image: url('your-background-image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
}

h1 {
  font-size: 40px;
}

span {
  font-weight: bold;
  font-style: italic;
  color: var(--light-pink);
  font-size: 28px;
}

#projects {
  background-color: var(--light-purple);
  text-align: center;
  padding: 50px 0;
}

h2 {
  font-size: 36px;
  color: var(--dark-purple);
  margin-bottom: 20px;
}

.project-tile {
  background-color: var(--light-pink);
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3 {
  color: var(--dark-blue);
  font-size: 24px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.project-tile:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.show-more {
  text-align: center;
}

.profile-link {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.profile-link:hover {
  background-color: var(--red);
}

/* Previous styles... */

#social-media {
  display: flex;
  flex-direction: column;
  padding: 150px 50px;
  background-color: #333;
  animation: slideInFromLeft 1.5s;
}

.sm-title {
  text-align: center;
  margin-bottom: 30px;
  animation: fadeInUp 1.5s;
}

.sm-title h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 12px;
}

.sm-title h4 {
  font-style: italic;
  color: #fff;
  animation: fadeInUp 1.5s;
}

.animated-list {
  animation: fadeInUp 1.5s;
}

.animated-text {
  animation: fadeInUp 1.5s;
}

@keyframes slideInFromLeft {
  from {
      transform: translateX(-50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}


.credits {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  background-color: #333;
  border-top: 3px solid #ed6a5a;
  justify-content: center;
  text-align: center;
  animation: fadeInUp 1.5s;
}

.credits h3 {
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  margin: 0;
  padding: 0 20px;
  transition: color 0.3s ease-in-out;
}
.credits:hover {
  background-color: #ed6a5a;
}

.credits h3:hover {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

@keyframes fadeInUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

#sidebar {
  position: sticky;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#sidebar ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#sidebar li {
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
  color: #fff; /* White text color */
}

#sidebar .nav-link {
  cursor: pointer;
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: bold;
}
header {
  background-color: #333;
  padding: 20px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header li {
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  color: #fff; /* White text color */
}

header .nav-link {
  cursor: pointer;
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: bold;
}

/* Welcome section styles and animations */

#welcome-section {
  background-image: url('pexels-philippe-donn-1169754.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

h1 {
  font-size: 40px;
  animation: fadeInUp 1.5s;
}

span {
  font-weight: bold;
  font-style: italic;
  color: #ed6a5a;
  font-size: 28px;
  animation: slideInLeft 1.5s;
}

@keyframes fadeInUp {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}


/* Adjust content width to accommodate sidebar */

#content {
  margin-left: 220px; /* Adjusted to account for sidebar width */
}

/* Media query for smaller screens */

@media (max-width: 700px) {
  #sidebar {
      display: none; /* Hide sidebar on small screens */
  }

  #content {
      margin-left: 0; /* Reset margin to account for hidden sidebar */
  }
}
@media (max-width: 700px) {
  #sidebar {
      display: none; /* Hide sidebar on small screens */
  }

  #content {
      margin-left: 0; /* Reset margin to account for hidden sidebar */
  }
}
#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  font-size: 40px;
  text-align: center;
  color: var(--dark-purple);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--white);
  margin-bottom: 40px;
  animation: fadeInUp 1.5s; /* Add a fadeInUp animation */
}

@keyframes fadeInUp {
  from {
      transform: translateY(40px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Project tiles styles... */

.project-tile {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: var(--light-pink);
  padding: 50px 50px;
  margin: 30px 0;
  border: 1px solid black;
  box-shadow: 3px 5px black;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

h3 {
  text-align: center;
  color: var(--dark-blue);
  margin: auto 0;
  font-size: 23px;
}

.project-tile:hover {
  transform: scale(1.05);
  box-shadow: 5px 7px black;
  animation: bounce 0.8s;
}

h3:hover {
  color: var(--white);
}

/* New animation for hovering project tiles... */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}
.animated-heading {
  animation: fadeInUp 1.5s;
}

.animated-project {
  animation: bounce 0.8s;
}
.sm-links {
  display: flex;
  justify-content: center;
  animation: fadeInUp 1.5s;
}

.sm-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 24px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sm-link {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ed6a5a;
  border-radius: 5px;
  background-color: transparent;
  color: #ed6a5a;
  text-transform: uppercase;
  font-size: 18px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* New styles and animations for the buttons */

.sm-links a:hover {
  color: #ed6a5a;
  transform: scale(1.1);
  animation: bounce 0.5s;
}

.sm-link:hover {
  background-color: #ed6a5a;
  color: #fff;
  transform: scale(1.1);
  animation: bounce 0.5s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}